#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}


.celda {
  height: 100px;
  width: 100px;
  font-size: 40px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  border: 2px solid #ddd;
}

/* .celda:hover {
  background-color: #e0e0e0;
} */